<aside class="col-sm-3">
</aside>
<aside class="col-sm-6">
  <%= form_tag articles_path, method: :get do %>
    <p>
      <%= text_field_tag :query, params[:query] %>
      <%= submit_tag "Search", name: nil %>
    </p>
  <% end %>
  <%= render @fails %>
</aside>
<aside class="col-sm-3">
</aside>