<h1>Comments</h1>

<div id="comments">
  <% @comments.each do |comment| %>
    <div class="comment">
      <%= simple_format comment.content %>
      <%= gravatar_for comment.user %>
    </div>
  <% end %>
</div>